/* imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* global */
:root {
    --headerHeight: 72px;
    --sidePaddingDesktop: 0 72px;
    --sidePaddingMobile: 0 36px;
    --defaultDarkColor: #444444;
    --defaultBrightColor: #fafafa;
    --defaultLightGrey: #eeeeee;
    --projectsContainerPaddingDesktop: 120px 72px 98px 72px;
    --projectsContainerPaddingMobile: 108px 36px 108px 36px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

/* styling */
body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--defaultBrightColor);
    font-weight: 400;
    color: var(--defaultDarkColor);
}

.headerFooterCommonProperties {
    background-color: var(--defaultLightGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

header {
    height: var(--headerHeight);
    padding: var(--sidePaddingDesktop);
    top: 0;
    z-index: 999;
}

footer {
    bottom: 0;
    height: 48px;
}

.projects {
    box-sizing: border-box;
    padding: var(--projectsContainerPaddingDesktop);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
}

.project {
    height: 256px;
    background-color: var(--defaultLightGrey);
    border-radius: 18px;
    position: relative;
    cursor: pointer;
}

.projectImage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 16px;
}

.blackGradientOverlay {
    position: absolute;
    text-align: center;
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-radius: 0px 0px 16px 16px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.projectTitle {
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    height: max-content;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 18px;
    color: var(--defaultBrightColor);
    padding: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    user-select: none;
    transition: opacity 0.3s ease;
}

.project:hover .blackGradientOverlay {
    opacity: 0;
}

.project:hover .projectTitle {
    opacity: 0;
}

.footerIconContainer {
    width: 200px;
    display: flex;
    justify-content: center;
}

.footerIconContainer ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerIconContainer ul li {
    display: inline;
}

.footerIconContainer ul li a {
    color: var(--defaultDarkColor);
}

@media (min-width: 1200px) {
    .project {
        grid-column: span 4;
        height: 16vw;
    }
}

@media (max-width: 1200px) {
    .project {
        grid-column: span 6;
        height: 24vw;
    }
}

@media (max-width: 992px) {
    .project {
        grid-column: span 6;
    }
    .projects {
        padding: 108px 72px 72px 72px;
    }
}

@media (max-width: 768px) {
    .project {
        grid-column: span 12;
        height: 44vw;
    }
}

@media (max-width: 576px) {
    .project {
        grid-column: span 12;
    }
    .projects {
        grid-column-gap: 0;
        grid-row-gap: 32px;
        padding: var(--projectsContainerPaddingMobile);
    }
    header {
        padding: var(--sidePaddingMobile);
    }
    header h1 {
        font-size: 28px;
    }
    .projectTitle {
        font-size: 14px;
    }
    .blackGradientOverlay {
        height: 50%;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 20px;
    }
}
@media (max-width: 320px) {
    .project {
        grid-column: span 12;
        height: 34vw;
    }
}

/* project images */
.project1 {
    background: #143083
        url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/assets/images/Chester%20bennington%20-%20A%20tribute%20page.jpg")
        no-repeat top/cover;
}

.project2 {
    background: #313236
        url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/assets/images/F%20R%20I%20E%20N%20D%20S%20Trivia%20Survey.jpg")
        no-repeat top/cover;
}

.project3 {
    background: #808080
        url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/assets/images/Product%20Landing%20Page.jpg")
        no-repeat top/cover;
}

.project4 {
    background: #eeeeee
        url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/assets/images/Technical%20Documentation%20Page.png")
        no-repeat top/cover;
}

.project5 {
    background: #e8e8e8
        url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/assets/images/Personal%20Portfolio.png")
        no-repeat top/cover;
}

.project6 {
    background: #143083
        url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/tribute-page/images/album-covers/in-the-end.jpg")
        no-repeat top/cover;
}
