/* imports */

/* global */
:root {
    --headerHeight: 72px;
    --sidePadding: 0 72px;
    --defaultDarkColor: #444444;
    --defaultBrightColor: #FEFEFE;
    --defaultLightGrey: #EEEEEE;
    --projectsContainerPadding: 144px 72px 72px 72px;
}

* {
    margin: 0;
    padding: 0;
}

/* styling */
body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--defaultDarkColor);
}

header {
    height: var(--headerHeight);
    background-color: var(--defaultLightGrey);
    padding: var(--sidePadding);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.projects {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--defaultBrightColor);
    padding: var(--projectsContainerPadding);
}

.project {
    width: 336px;
    height: 208px;
    background-color: var(--defaultLightGrey);
    border-radius: 18px;
    position: relative;
    cursor: pointer;
}

.projectImage{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/tribute-page/images/album-covers/what-ive-done.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 16px;
}

.project .blackGradientOverlay{
    position: absolute;
    text-align: center;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 18px;
    background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0));
    border-radius: 0px 0px 16px 16px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.project .projectTitle{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    height: max-content;
    width: 100%;
    bottom:0;
    left: 0;
    font-size: 18px;
    color: var(--defaultBrightColor);
    padding: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    user-select: none;
    transition: opacity 0.3s ease;
}

.project:hover .blackGradientOverlay{
    opacity: 0;
}

.project:hover .projectTitle{
    opacity: 0;
}