/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* css rules */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    height: 56px;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 72px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#header-image{
    width: 26px;
}

#nav-bar {
    display: flex;
    align-items: center;
}

#nav-bar .nav-link {
    text-decoration: none;
    font-weight: 700;
    margin-left: 48px;
}

.features {
    margin: 0 72px;
    margin-top: 56px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heroTextContainer {
    width: 500px;
    align-self: center;
    font-size: 80px;
}

.heroImageContainer {
    display: flex;
    align-self: flex-end;
}

.imageSizing {
    width: 768px;
    align-self: flex-end;
}