/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* css rules */
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

input:focus {
    outline: none;
}

/* css variables */
:root {
    --headerHeightWide: 56px;
    --headerHeightTall: 160px;
    --pageSidePadding: 0 72px;
    --pageSidePaddingTall: 0 32px;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

::selection {
    color: white;
    background-color: #0076FF;
}

.header {
    height: var(--headerHeightWide);
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--pageSidePadding);
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#header-img{
    width: 26px;
    height: 31.91px;
}

#nav-bar {
    display: flex;
    align-items: center;
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
}

#nav-bar ul li {
    font-weight: 700;
    margin-left: 48px;
    font-size: 16px;
}

#nav-bar ul li a {
    text-decoration: none;
    color: white;
}

.features {
    padding: var(--pageSidePadding);
    margin-top: var(--headerHeightWide);
    height: calc(100vh - var(--headerHeightWide));
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.heroTextContainer {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.heroText {
    font-size: 5vw;
    padding-right: 12px;
}

.blueButton {
    margin-top: 25px;
    width: max-content;
    padding: 12px 16px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    background-color: #0076FF;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.blueButton:focus {
    outline: none;
}

.heroImageContainer {
    display: flex;
    align-self: flex-end;
}

.imageSizing {
    width: 45vw;
    align-self: flex-end;
}

.iOS14SectionContainer {
    width: 100%;
    background-color: #F9F9F9;
}

.iOS14TextContainer {
    text-align: center;
    padding: var(--pageSidePadding);
}

.iOS14Text {
    font-size: 8vh;
    padding-top: 8vw;
}

.iOS14TextSubheading {
    font-size: 4vh;
    margin-top: 1vw;
    padding-bottom: 8vw;
}

.iOS14Image {
    width: 100%;
}

.videoContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 8vw;
}

.video {
    width: 80vw;
    height: 45vw;
    border: none;
}

.contactUsSection {
    background-color: #333333;
    color: white;
    padding: var(--pageSidePadding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactUsForm {
    display: flex;
    flex-direction: row;
    padding-bottom: 8vw;
}

.emailInput {
    width: 50vw;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #333333;
    color: white;
    font-size: 4vh;
    padding: 12px 24px;
    font-family: "Montserrat", sans-serif;
}

.submitButton {
    width: max-content;
    border: none;
    border-radius: 30px;
    background-color: #0076FF;
    color: white;
    font-size: 4vh;
    padding: 12px 24px;
    margin-left: 16px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.noPadding {
    padding: 0;
}

@media (min-aspect-ratio: 18/9) {
    /* aspect width is greater than 16:9 */
    .imageSizing{
        width: unset;
        height: 80vh;
    }
    .heroText {
        font-size: 10vh;
    }
}

@media (max-aspect-ratio: 5/4) {
    /* aspect width is smaller than 16:9 */
    .hero{
        flex-direction: column;
        align-items: center;
    }
    .heroTextContainer {
        text-align: center;
        align-items: center;
        margin-top: 8vh;
    }
    .heroImageContainer {
        align-self: center;
    }
    .iOS14Text {
        font-size: 5vw;
    }
    .iOS14TextSubheading {
        font-size: 3vw;
    }
    .emailInput {
        font-size: 3vw;
    }
    .submitButton {
        font-size: 3vw;
        margin-left: 0px;
        margin-top: 20px;
    }
    .contactUsForm{
        flex-direction: column;
        align-items: center;
    }
    .blueButton{
        font-size: 3vw;
    }
}

@media (max-aspect-ratio: 4/5) {
    /* aspect width is smaller than 16:9 */
    .headerContent{
        flex-direction: column;
        align-items: center;
    }
    .header{
        height: var(--headerHeightTall);
    }
    #nav-bar ul {
        flex-direction: column;
        margin-top: 12px;
        align-items: center;
    }
    #nav-bar ul li {
        margin-left: 0px;
        margin-top: 8px;
    }
    .features{
        margin-top: var(--headerHeightTall);
        height: calc(100vh - var(--headerHeightTall));
    }
}

@media (max-aspect-ratio: 1/1) {
    /* screen is square */
    .headerContent{
        flex-direction: column;
        align-items: center;
    }
    .header{
        height: var(--headerHeightTall);
    }
    #nav-bar ul {
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
    }
    #nav-bar ul li {
        margin-left: 0px;
        margin-top: 8px;
        font-size: 3vw;
    }
    .features{
        margin-top: var(--headerHeightTall);
        height: calc(100vh - var(--headerHeightTall));
    }
}

@media (max-aspect-ratio: 7/10) {
    .header {
        padding: var(--pageSidePaddingTall);
    }
    .features {
        padding: var(--pageSidePaddingTall);
    }
    .iOS14TextContainer {
        padding: var(--pageSidePaddingTall);
    }
    .contactUsSection {
        padding: var(--pageSidePaddingTall);
    }
    #nav-bar ul li{
        font-size: 4vw;
    }
}

@media (max-aspect-ratio: 5/8) {
    .imageSizing{
        width: 70vw;
    }
    .heroText{
        font-size: 7vw;
        padding-right: unset;
    }
    .blueButton{
        font-size: 4vw;
        margin-top: 4vw;
    }
    #nav-bar ul {
        font-size: 5vw;
    }
}