/* imports */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* global rules */

:root {
    --bright: #f0f0f0;
    --dark: #333;
    --accent: wheat;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Questrial",sans-serif;
}

h1, h2, h3 {
    font-family: "Zilla Slab", serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 52px;
}

.headerText {
    font-family: "Zilla Slab", serif;
    font-size: 36px;
    margin: 8px 0;
    line-height: initial;
}

table, th, td {
    border: 1px solid var(--dark);
}

article {
    margin: 0 24px;
    text-align: justify;
}

img {
    max-width: 100%;
}

code {
    font-size: 14px;
    color: var(--bright);
    background-color: var(--dark);
}

pre {
    background-color: var(--dark);
    color: var(--accent);
    margin: 0 72px;
    padding: 20px 40px;
    border-radius: 8px;
}

/* rules */

.gridContainer{
    display: grid;
    grid-template-columns: 20em 1fr;
    height: 100vh;
    box-sizing: border-box;
}

#navbar {
    background-color: var(--dark);
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--bright);
    overflow-y: scroll;
}

.title {
    color: wheat;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.6em;
    grid-template-rows: 1fr 2px;
}

.title::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: wheat;
}

.index ul {
    display: grid;
    grid-template-rows: repeat(14, 56px);
    list-style: none;
    padding: 0px 16px;
    align-items: center;
    row-gap: 8px
}

.index ul li {
    display: grid;
    align-items: center;
    height: 100%;
}

.index ul li a {
    color: var(--bright);
    text-decoration: none;
}

.index ul li a:hover {
    text-decoration: underline;
}

#main-doc {
    background-color: var(--bright);
    padding: 12px 24px;
    display: grid;
    grid-row-gap: 32px;
    overflow-y: scroll;
    line-height: 20px;
}

.codeBlock {
    background-color: initial;
    color: var(--accent);
}