/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:wght@400;800&display=swap');

body {
    margin: 0px;
    height: 100vh;
    background-color: #333333;
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://raw.githubusercontent.com/akashdeshpande/FCC-RWD/main/survey-page/assets/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    margin: 0px;
    font-family: 'Lora', serif;
    letter-spacing: 2px;;
}

.header {
    text-align: center;
    color: white;
    margin-top: 40px;
}

#description {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.form-container {
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
}

#survey-form {
    padding: 20px 30px;
}

.inputGroup {
    margin: 10px;
}

.inputWidth {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 1px 12px;
    border: none;
}

.inputWidth:focus {
    outline: 3px solid darkgray;
}

#feedback {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 6px 12px;
    font-family: 'Nunito Sans', sans-serif;
}

.spacer-top {
    margin-top: 16px;
}

.links {
    color: #ddd;
}

.submitContainer {
    text-align: center;
}

.button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    border: none;
    padding: 8px 24px;
    font-weight: 800;
}

@media (max-width: 640px) {
    .form-container {
        width: 100%;
    }
}